<div class="card mb-4" *ngIf="isPageRender">
    <div class="card-header">
        <h5 style="font-weight: bold;"><i class="fas fa-fw fa-tachometer-alt"></i> Página inicial</h5>
        Seja bem vindo ao sistema.
    </div>
    <div class="card-body">

        <div class="row">
            <div class="col-md-6">
                <strong>Número de Clientes por Plano</strong>
            </div>
            <div class="col-md-6">
                <strong>Clientes cadastrados nos ultimos 6 meses</strong>
            </div>
        </div>

    </div>
</div>
